In [221]:
from pandas_datareader import data
import datetime 
from bokeh.plotting import figure, show, output_file

start = datetime.datetime(2021,12,1)
end = datetime.datetime(2022,3,11)

df=data.DataReader(name="AAPL",data_source="yahoo",start=start, end=end)

In [222]:
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-11-30,165.520004,159.919998,159.990005,165.300003,174048100.0,165.089676
2021-12-01,170.300003,164.529999,167.479996,164.770004,152052500.0,164.560349
2021-12-02,164.199997,157.800003,158.740005,163.759995,136739200.0,163.551620
2021-12-03,164.960007,159.720001,164.020004,161.839996,118023100.0,161.634064
2021-12-06,167.880005,164.279999,164.289993,165.320007,107497000.0,165.109650
...,...,...,...,...,...,...
2022-03-07,165.020004,159.039993,163.360001,159.300003,96418800.0,159.300003
2022-03-08,162.880005,155.800003,158.820007,157.440002,131148300.0,157.440002
2022-03-09,163.410004,159.410004,161.479996,162.949997,91454900.0,162.949997
2022-03-10,160.389999,155.979996,160.199997,158.520004,105342000.0,158.520004
2022-03-11,159.279999,154.500000,158.929993,154.729996,96970100.0,154.729996

In [223]:
p=figure(x_axis_type='datetime',width=1000,height=300,sizing_mode="scale_width")
p.title="Candle Stick Chart "
p.grid.grid_line_alpha = 0.3

In [224]:
def inc_dec(o,c):
    if o>c:
        value="Decrease"
    elif o<c:
        value="Increase"
    else:
        value="equal"
    return value

df["Status"]=[inc_dec(o,c) for o,c in zip(df.Open,df.Close)]

In [225]:
hour_sec=12*3600*1000
p.segment(df.index,df.High,df.index,df.Low)
p.rect(df.index[df.Status=="Increase"],(df.Close+df.Open)/2, hour_sec, abs(df.Close-df.Open),fill_color="#00FA9A",line_color="black")
p.rect(df.index[df.Status=="Decrease"],(df.Close+df.Open)/2, hour_sec, abs(df.Close-df.Open),fill_color="#FF3333",line_color="black")

show(p)

BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 35), ('y', 71)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 71), ('x', 35), ('y', 71)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('x', 36), ('y', 71)
BokehUserWarning: ColumnDataSource's columns must be of the same length. Current lengths: ('height', 71), ('x', 36), ('y', 71)

In [226]:
df

,High,Low,Open,Close,Volume,Adj Close,Status
Date,,,,,,,
2021-11-30,165.520004,159.919998,159.990005,165.300003,174048100.0,165.089676,Increase
2021-12-01,170.300003,164.529999,167.479996,164.770004,152052500.0,164.560349,Decrease
2021-12-02,164.199997,157.800003,158.740005,163.759995,136739200.0,163.551620,Increase
2021-12-03,164.960007,159.720001,164.020004,161.839996,118023100.0,161.634064,Decrease
2021-12-06,167.880005,164.279999,164.289993,165.320007,107497000.0,165.109650,Increase
...,...,...,...,...,...,...,...
2022-03-07,165.020004,159.039993,163.360001,159.300003,96418800.0,159.300003,Decrease
2022-03-08,162.880005,155.800003,158.820007,157.440002,131148300.0,157.440002,Decrease
2022-03-09,163.410004,159.410004,161.479996,162.949997,91454900.0,162.949997,Increase
2022-03-10,160.389999,155.979996,160.199997,158.520004,105342000.0,158.520004,Decrease
2022-03-11,159.279999,154.500000,158.929993,154.729996,96970100.0,154.729996,Decrease